

img{
    margin: 0 auto;
    padding-left: 23%;
}

h4{

}

.tee{
	text-align: center;
	padding: 80px 0;
}

.tee form{
	max-width: 540px;
    margin: 0 auto;
   }

.tee input{
	width: 100%;
	margin: 15px auto;
    padding: 9px;
}  

.btn-primary{
    background-color: #f96332;
    color: #FFFFFF;
}


footer{
    background-color: #e64b18;
    text-align: center;
}
